#groupsDisplay {
  background-color: var(--white);
  height: 40%;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  margin-bottom: var(--gap);
}

#groupsDisplay .title {
  display: flex;
  justify-content: space-between;
  width: 92%;
  margin: 0 auto;
}

#groupsDisplay .title p {
  font-size: 1.3rem;
  font-weight: bold;
}
