#userProfile {
  width: 30%;
  height: 100%;
  background-color: var(--white);
  border-radius: var(--radius);
  margin-right: var(--gap);
  box-shadow: 3px 0 18px rgba(0, 0, 0, 0.2);
}

#userProfile .top-part {
  width: 100%;
  height: 50%;
  position: relative;
}

#userProfile .top-part .image-container {
  height: 80%;
  width: 100%;
  position: relative;
}

#userProfile .top-part .floating-card {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  width: 80%;
  padding-top: 1rem;
  border-radius: 20px 20px 0 0;
}

#userProfile .top-part .floating-card .icon {
  font-size: 2rem;
}

#userProfile .top-part .floating-card .buttons {
  margin-bottom: 5px;
}

#userProfile .top-part .floating-card .buttons .icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid grey;
}

#userProfile .top-part .floating-card .name,
#userProfile .top-part .floating-card .position,
#userProfile .top-part .floating-card .address {
  font-size: 1.2rem;
}

#userProfile .top-part .floating-card .message,
#userProfile .top-part .floating-card .video-call { color: white; }

#userProfile .top-part .floating-card .message { background-color: var(--accent-color); }
#userProfile .top-part .floating-card .video-call { background-color: var(--red); }

#userProfile .bottom-part > div { border-top: 2px solid var(--grey); }

#userProfile .bottom-part .icon { font-size: 1.8rem; }
