#directMessagesDisplay {
  background-color: var(--white);
  height: 100%;
  border-radius: var(--radius);
}

#directMessagesDisplay .search-container {
  width: 80%;
  height: 15%;
  margin: 0 auto;
}

#directMessagesDisplay .messagesList {
  gap: 15px;
  overflow-y: auto;
  height: 100%;
  margin-top: 5px;
}

#directMessagesDisplay .buttons-container {
  margin: 0 auto;
  width: 80%;
  height: 15%;
}

#directMessagesDisplay .messagesList::-webkit-scrollbar {
  visibility: hidden;
}

#directMessagesDisplay .chat {
  gap: 8px;
  max-width: 86%;
  margin: 8px 0;
}

#directMessagesDisplay .chat .user-details {
  gap: 8px;
}

#directMessagesDisplay .chat .name {
  font-weight: bolder;
  font-size: 1.1rem;
}

#directMessagesDisplay .chat .timestamp {
  font-size: 0.8rem;
  gap: 5px;
  width: 100%;
}

.btn {
  text-align: center;
  background-color: var(--grey);
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: 500;
}

.btn.primary-button {
  background-color: var(--accent-color);
  color: white;
}
