#searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  background-color: var(--grey);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: var(--gap);
}

#searchBar .magnifying-glass-icon,
#searchBar input {
  background-color: transparent;
}

#searchBar .magnifying-glass-icon {
  color: darkgrey;
  font-size: 2rem;
}

#searchBar input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
}
